{% extends 'base.html' %}

{% block content %}
  <div class="row justify-content-center mt-5">
    <div class="col-md-4">
      <h2 class="mb-4">Регистрация</h2>
      <form method="POST">
        {% csrf_token %}
        <div class="form-group">
          <label for="email">Email адрес</label>
          <input type="email" class="form-control" id="email" name="email" required>
        </div>
        <div class="form-group">
          <label for="password">Пароль</label>
          <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <div class="form-group">
          <label for="confirm_password">Подтвердите пароль</label>
          <input type="password" class="form-control" id="confirm_password" name="confirm_password" required>
        </div>
        <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
      </form>
    </div>
  </div>
{% endblock %}
