{% extends 'base.html' %}

{% block header %}
    <div class="header-info">
        <h1>KE Services</h1>
        <p>Сервисы для работы с маркетплейсом KazanExpress</p>
        <a href="{% if user.is_authenticated %}
                    {% url 'users_cabinet:profile_settings_url' %}
                {% else %}
                    {% url 'users:auth_page_url' %}
                {% endif %}" class="btn btn-primary">Попробовать</a>
    </div>
{% endblock %}

{% block content %}
    <!-- Секция "Парсер" -->
    <section id="parser">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2 class="display-4">Парсинг</h2>
                    <p class="lead">Получайте информацию о продажах товаров с магазинов KazanExpress каждый день!</p>
                    <p>В разделе "Парсер" вы сможете настроить отслеживание продаж для каждого добавленного магазина. Система будет автоматически собирать данные о продажах конкретных товаров на протяжении последних 7 дней.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Секция "Автоответчик отзывов" -->
    <section id="reviews" class="darker">
        <div class="container">
            <div class="row justify-content-end">
                <div class="col-md-6 text-end">
                    <h2 class="display-4">Генератор отзывов</h2>
                    <p class="lead">Обрабатывайте неотвеченные отзывы с магазина с помощью автоматических ответов!</p>
                    <p>В разделе "Работа с отзывами" вы сможете получить список неотвеченных отзывов с магазина на платформе KazanExpress. Используя технологию GPT, вы сможете генерировать автоматические ответы, оптимизированные под каждый отзыв.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <p>&copy; 2023 by <a href="https://github.com/alexindev/ke_services" target="_blank">GitHub</a></p>
                </div>
                <div class="col-md-4">
                    <ul class="social-icons">
                        <li><a href="https://github.com/alexindev/ke_services"><i class="fa fa-github"></i></a></li>
                        <li><a href=""><i class="fa fa-facebook"></i></a></li>
                        <li><a href=""><i class="fa fa-twitter"></i></a></li>
                        <li><a href=""><i class="fa fa-vk"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}