<div class="row">
    <div class="col-12 col-md-6">
        <div class="grid">
            <div class="grid-body d-flex flex-column h-100">
                <h5 class="mb-2">Обновить аватар</h5>
                <p class="text-gray mb-2">Загрузить изображение профиля
                <span class="tooltip-icon" title="JPEG или PNG">
                        <i class="fa fa-info-circle" aria-hidden="true"></i>
                    </span>
                </p>
                <form method="post" enctype="multipart/form-data" id="avatar-form">
                    {% csrf_token %}
                    <div class="row row-showcase-row-area mb-3">
                        <div class="col-12 mb-2">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="avatar-input"
                                       accept="image/jpeg, image/png" name="image" required>
                                <label class="custom-file-label" for="avatar-input">Выберите изображение</label>
                            </div>
                        </div>
                    </div>
                    <div class="row col-12">
                        <button class="btn btn-outline-primary" type="submit" name="avatar_btn">Обновить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>