<div class="row">
    <div class="col-12 col-md-6">
        <div class="grid">
            <div class="grid-body d-flex flex-column h-100">
                <h5 class="mb-2">Генерация отзывов</h5>
                <p class="text-gray mb-2">Данные от личного кабинета KazanExpress</p>
                <form method="post" enctype="multipart/form-data"
                      action="{% url 'users_cabinet:profile_settings_url' %}">
                    {% csrf_token %}
                    <div class="row row-showcase-row-area mb-3">
                        <div class="col-12">
                            {{ user_data_form.login_ke }}
                            {{ user_data_form.pass_ke }}
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-12">
                            <button class="btn btn-outline-primary" type="submit" name="user_data_btn">Сохранить
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="grid">
            <div class="grid-body d-flex flex-column h-100">
                <h5 class="mb-2">Токен</h5>
                {% if user.token %}
                    {% if user.login_valid %}
                        {% if user.token_valid %}
                            <p class="text-success">Токен получен</p>
                        {% else %}
                            <p class="text-danger">Токен не валидный</p>
                        {% endif %}
                    {% else %}
                        <p class="text-danger">Проверьте корректность логина и/или пароля</p>
                    {% endif %}
                {% else %}
                    <p class="text-gray">Для работы сервиса отзывов необходимо получить токен</p>
                {% endif %}

                <form method="post" action="{% url 'users_cabinet:get_token_url' %}">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-12">
                            <button class="btn btn-outline-primary mt-2" type="submit">
                                {% if user.token %}
                                    Обновить токен
                                {% else %}
                                    Получить токен
                                {% endif %}
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>