<div class="row">
    <div class="col-12 col-md-6">
        <div class="grid ">
            <div class="grid-body d-flex flex-column h-100">
                <h5 class="mb-2">Добавить магазин</h5>
                <p class="text-gray mb-2">
                    Новый магазин для отслеживания
                    <span class="tooltip-icon" title="Например: https://kazanexpress.ru/technostation">
                        <i class="fa fa-info-circle" aria-hidden="true"></i>
                    </span>
                </p>
                <form method="post" enctype="multipart/form-data"
                      action="{% url 'users_cabinet:profile_settings_url' %}">
                    {% csrf_token %}
                    <div class="row row-showcase-row-area mb-3">
                        <div class="col-12">
                            {{ store_form.store_url }}
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-12">
                            <button class="btn btn-outline-primary" type="submit" name="store_btn">Добавить
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="grid">
            <div class="grid-body d-flex flex-column h-100">
                <h5 class="mb-2">Магазины</h5>
                {% if stores %}
                    <p class="text-gray mb-2">Добавленные магазины для отслеживания:</p>
                    <ul>
                        {% for store in stores %}
                            <li>
                                <a href="{{ store.id }}">
                                    <i class="fa fa-trash-o fa-lg mr-2" aria-hidden="true"></i>
                                </a>
                                <a href="{% url 'users_cabinet:manager_store_url' action=store.action store_id=store.id %}">
                                    {% if store.action == "pause" %}
                                        <i class="fa fa-pause fa-lg text-warning mr-2" aria-hidden="true"></i>
                                    {% else %}
                                        <i class="fa fa-play fa-lg text-success mr-2" aria-hidden="true"></i>
                                    {% endif %}
                                </a>
                                {{ store.store_url }}
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p class="text-gray">Ни одного магазина не добавлено</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>