<div class="row">
    <div class="col-12 col-md-6">
        <div class="grid ">
            <div class="grid-body d-flex flex-column h-100">
                <h5 class="mb-2">Добавить магазин</h5>
                <p class="text-gray mb-2">
                    Новый магазин для отслеживания
                    <span class="tooltip-icon" title="Например: https://kazanexpress.ru/technostation">
                        <i class="fa fa-info-circle" aria-hidden="true"></i>
                    </span>
                </p>
                <form method="post" enctype="multipart/form-data"
                      id="new-store">
                    {% csrf_token %}
                    <div class="row row-showcase-row-area mb-3 col-12">
                            <label for="store-url" class="sr-only">Ссылка на магазин</label>
                            <input type="url" class="form-control" id="store-url" placeholder="Ссылка на магазин" required>
                    </div>
                    <div class="row mt-3 col-12">
                        <button class="btn btn-outline-primary" type="submit">Добавить
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="grid">
            <div class="grid-body d-flex flex-column h-100">
                <h5 class="mb-2">Магазины</h5>
                {% if object_list %}
                    <p class="text-gray mb-2">Добавленные магазины для отслеживания:</p>
                    <ul>
                        {% for store in stores %}
                            <li>
                                <a href="{{ store.id }}">
                                    <i class="fa fa-trash-o fa-lg mr-2" aria-hidden="true"></i>
                                </a>
                                <a href="#" data-store-id="{{ store.id }}" data-store-status="{{ store.status }}"
                                   class="store-status">
                                    {% if store.status %}
                                        <i class="fa fa-pause fa-lg text-warning mr-2" aria-hidden="true"></i>
                                    {% else %}
                                        <i class="fa fa-play fa-lg text-success mr-2" aria-hidden="true"></i>
                                    {% endif %}
                                </a>
                                {{ store.store_url }}
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p class="text-gray">Ни одного магазина не добавлено</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>

