{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>
        {% if title %}
        {{ title }}
        {% else %}
            Личный кабинет
        {% endif %}
    </title>
    <link rel="stylesheet" href="{% static 'vendors/iconfonts/mdi/css/materialdesignicons.css' %}">
    <link rel="stylesheet" href="{% static 'css/shared/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/demo/style.css' %}">
    <link rel="shortcut icon" href="{% static 'img/icon.ico' %}" type="images/x-icon"/>
  </head>

  <body class="header-fixed">
    <div class="page-body">
      <div class="sidebar">
        <div class="user-profile">
          <div class="display-avatar animated-avatar">
            <img class="profile-img img-lg rounded-circle" src="#" alt="profile image">
          </div>
          <div class="info-wrapper">
            <p class="user-name">Привет, {{ user }}!</p>
          </div>
        </div>
        <ul class="navigation-menu">
          <li class="nav-category-divider">MAIN</li>
          <li>
            <a href="{% url 'users_cabinet:users_profile_url' %}">
              <span class="link-title">Дашборд</span>
              <i class="mdi mdi-gauge link-icon"></i>
            </a>
          </li>
          <li>
            <a href="{% url 'users_cabinet:parser_url' %}">
              <span class="link-title">Парсер</span>
              <i class="mdi mdi-flask link-icon"></i>
            </a>
          </li>
          <li>
            <a href="{% url 'users_cabinet:reviews_url' %}">
              <span class="link-title">Работа с отзывами</span>
              <i class="mdi mdi-comment-processing-outline link-icon"></i>
            </a>
          </li>
          <li>
            <a href="{% url 'users_cabinet:profile_settings_url' %}">
              <span class="link-title">Настройки</span>
              <i class="mdi mdi-settings-outline link-icon"></i>
            </a>
          </li>
          <li>
            <a href="{% url 'users_cabinet:logout_url' %}">
              <span class="link-title">Выйти</span>
              <i class="mdi mdi-logout-variant link-icon"></i>
            </a>
          </li>
        </ul>
          <footer class="footer">
          <div class="row">
            <div class="text-center text-sm-left mt-3 mt-sm-0">
                <small class="text-muted d-block">Copyright © 2023 <a href="https://github.com/alexindev/ke_services" target="_blank">Исходный код</a></small>
            </div>
          </div>
        </footer>
      </div>

      <div class="page-content-wrapper">
        <div class="page-content-wrapper-inner">
          <div class="content-viewport">
            <div class="row">
              <div class="col-12 py-5">
                {% block content %}{% endblock %}

              </div>
            </div>


          </div>
        </div>
      </div>
    </div>



  </body>
</html>