{% extends 'users_cabinet/index.html' %}
{% block content %}
    <div class="row">
        <div class="col-12 py-5">
            <h4>Парсер</h4>
            <p class="text-gray">Данные о продажах </p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="grid">
                <div class="grid-body d-flex flex-column h-100">
                    <h5 class="mb-3">Блок парсера</h5>
                    <form method="get" action="{% url 'users_cabinet:parser_url' %}">
                        <div class="form-row align-items-center">
                            <div class="col-5">
                                <label for="store-select">Выберите магазин:</label>
                                <select class="form-control" id="store-select" name="store-select">
                                    <option value="">Все</option>
                                    {% for store in store_data %}
                                        <option value="{{ store.store_name }}"
                                                {% if selected_store == store.store_name %}selected{% endif %}>
                                            {{ store.store_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-5">
                                <label for="period-select">Выберите период (день):</label>
                                <select class="form-control" id="period-select" name="period-select">
                                    {% for day in time_interval %}
                                        <option value="{{ day }}"
                                                {% if day == period %}selected{% endif %}>{{ day }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="mt-3">
                            <button type="submit" class="btn btn-primary">Применить</button>
                        </div>
                    </form>
                    {% if object_list %}
                        <div class="table-responsive mt-3">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>Товар</th>
                                    <th>Цена</th>
                                    <th>Остаток</th>
                                    <th>Ссылка</th>
                                    <th>Рейтинг</th>
                                    <th>Параметр1</th>
                                    <th>Параметр2</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for item in object_list %}
                                    <tr>
                                        <td class="w-25 text-wrap">{{ item.product }}</td>
                                        <td>{{ item.price }}</td>
                                        <td>{{ item.stock_balance }}</td>
                                        <td class="w-25 text-wrap">{{ item.url }}</td>
                                        <td>{% if item.rating %}{{ item.rating }}{% endif %}</td>
                                        <td>{% if item.param1 %}{{ item.param1 }}{% endif %}</td>
                                        <td>{% if item.param2 %}{{ item.param2 }}{% endif %}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        {% if is_paginated %}
                            <div class="pagination mt-5 align-self-center">
                                <ul class="pagination justify-content-center">
                                    {% if page_obj.has_previous %}
                                        <li class="page-item">
                                            <a class="page-link" href="?store-select={% if selected_store %}{{ selected_store }}{% endif %}&period-select={{ period }}&page=1">
                                                << Первая
                                            </a>
                                        </li>
                                        <li class="page-item">
                                            <a class="page-link" href="?store-select={% if selected_store %}{{ selected_store }}{% endif %}&period-select={{ period }}&page={{ page_obj.previous_page_number }}">
                                                < Предыдущая
                                            </a>
                                        </li>
                                    {% endif %}
                                    {% for num in page_obj.paginator.page_range %}
                                        {% if num == page_obj.number %}
                                            <li class="page-item active">
                                                <span class="page-link">{{ num }}</span>
                                            </li>
                                        {% elif num <= page_obj.number|add:'2' and num >= page_obj.number|add:'-2' %}
                                            <li class="page-item">
                                                <a class="page-link" href="?store-select={% if selected_store %}{{ selected_store }}{% endif %}&period-select={{ period }}&page={{ num }}">
                                                    {{ num }}
                                                </a>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                    {% if page_obj.has_next %}
                                        <li class="page-item">
                                            <a class="page-link" href="?store-select={% if selected_store %}{{ selected_store }}{% endif %}&period-select={{ period }}&page={{ page_obj.next_page_number }}">
                                                Следующая >
                                            </a>
                                        </li>
                                        <li class="page-item">
                                            <a class="page-link" href="?store-select={% if selected_store %}{{ selected_store }}{% endif %}&period-select={{ period }}&page={{ page_obj.paginator.num_pages }}">
                                                Последняя >>
                                            </a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </div>
                        {% endif %}
                    {% else %}
                        <p class="text-gray mt-3">Данных пока нет</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}