{% extends 'users_cabinet/index.html' %}
{{ title }}
{% block content %}
    <div class="row">
        <div class="col-12 py-5">
            <h4>Дашборд</h4>
            <p class="text-gray">Текущие показатели</p>
        </div>
    </div>
     <div class="row">
        <div class="col-12">
            <div class="grid">
                <div class="grid-body d-flex flex-column h-100">
                    Блок дашборда
                </div>
            </div>
        </div>
    </div>
{% endblock %}