{% extends 'users_cabinet/index.html' %}

{{ title }}

{% block content %}
    <div class="row">
        <div class="col-12 py-5">
            <h4>Меню настроек</h4>
            <p class="text-gray">Панель управления</p>
        </div>
    </div>

    <div id="message-alert" class="alert alert-dismissible fade show" role="alert" style="display: none">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <span id="message-text"></span>
    </div>

    {% include 'users_cabinet/includes/stores_setting.html' %}
    {% include 'users_cabinet/includes/reviews_setting.html' %}
    {% include 'users_cabinet/includes/avatar_setting.html' %}
    {% include 'users_cabinet/includes/profile_delete_setting.html' %}


{% endblock %}