{% extends 'users_cabinet/index.html' %}


{{ title }}

{% block content %}
    <div class="row">
        <div class="col-12 py-5">
            <h1>Меню настроек</h1>
            <p class="text-gray">Панель управления</p>
        </div>
    </div>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
    {% endif %}

    {% include 'users_cabinet/includes/stores_setting.html' %}
    {% include 'users_cabinet/includes/reviews_setting.html' %}
    {% include 'users_cabinet/includes/avatar_setting.html' %}
    {% include 'users_cabinet/includes/profile_delete_setting.html' %}


{% endblock %}