{% extends 'users_cabinet/index.html' %}

{{ title }}
{% block content %}

    <div class="row">
        <div class="col-12 py-5">
            <h4>Меню настроек</h4>
            <p class="text-gray">Панель управления</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="grid">
                <div class="grid-body d-flex flex-column h-100">
                    Управление магазинами
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="grid">
                <div class="grid-body d-flex flex-column h-100">
                    <h4 class="mb-3">Настройки для генерации отзывов</h4>
                    <form method="post" enctype="multipart/form-data"
                          action="{% url 'users_cabinet:profile_settings_url' %}">
                        {% csrf_token %}
                        <div class="row row-showcase-row-area mb-3">
                            <div class="col-5">
                                {{ user_data_form.login_ke }}
                                {{ user_data_form.pass_ke }}
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-12 mt-3">
                                <button class="btn btn-outline-primary" type="submit" name="user_data_btn">Сохранить</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="grid">
                <div class="grid-body d-flex flex-column h-100">
                    <h4 class="mb-3">Обновить аватар</h4>
                    <form method="post" enctype="multipart/form-data"
                          action="{% url 'users_cabinet:profile_settings_url' %}">
                        {% csrf_token %}
                        <div class="row row-showcase-row-area mb-3">
                            <div class="col-5">
                                <div class="custom-file">
                                    {{ avatar_form.image }}
                                    <label class="custom-file-label" for="{{ avatart_form.image.id_for_label }}">
                                        {% if user.image %}
                                            {{ user.image.name|cut:'user_pic/'}}
                                        {% else %}Выберите изображение{% endif %}
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-12 mt-3">
                                <button class="btn btn-outline-primary" type="submit" name="avatar_btn">Сохранить</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


{% endblock %}