{% load static %}
<!DOCTYPE html>
<html lang="en-us">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
    {% block title %}
    {% if title %}
        {{ title }}
    {% else %}
        KE Services
    {% endif %}
    {% endblock %}
    </title>
	<!-- Load fonts -->
	<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>

	<!-- Load CSS styles -->
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    <link rel="icon" href="{% static 'img/icon.ico' %}" type="images/x-icon"/>

</head>
<body>
	<div class="jumbotron home home-fullscreen" id="home">
		<div class="mask"></div>
		<a href="#" class="logo">
			<img src="{% static 'img/logo.png' %}" alt="KE Services">
		</a>
		<a href="" class="menu-toggle" id="nav-expander"><i class="fa fa-bars"></i></a>
		<!-- Offsite navigation -->
		<nav class="menu">
            <a href="#" class="close"><i class="fa fa-close"></i></a>
            <h3>Menu</h3>
            <ul class="nav">
                <li><a href="{% url 'main_app:auth_page_url' %}">Авторизация</a></li>
                <li><a href="/auth" class="no-project">Личный кабинет</a></li>
                <li><a href="{% url 'main_app:main_page_url' %}#parser" class="no-project">Парсер</a></li>
                <li><a href="{% url 'main_app:main_page_url' %}#reviews" class="no-project">Генератор отзывов</a></li>
                <li><a href="https://github.com/alexindev/ke_services" class="no-project">Код проекта</a></li>
            </ul>
            <ul class="social-icons">
                <li><a href="https://github.com/alexindev/ke_services"><i class="fa fa-github"></i></a></li>
                <li><a href=""><i class="fa fa-facebook"></i></a></li>
                <li><a href=""><i class="fa fa-twitter"></i></a></li>
                <li><a href=""><i class="fa fa-vk"></i></a></li>
            </ul>
        </nav>
		<div class="container">
			<div class="header-info">
				<h1>KE Servises</h1>
				<p>Сервисы для работы с маркетплейсом KazanExpress
				</p>
				<a href="{% url 'main_app:auth_page_url' %}" class="btn btn-primary">Попробовать</a>
			</div>
		</div>
	</div>

    {% block content %}
    {% endblock %}

	<!-- Load jQuery -->
	<script type="text/javascript" src="{% static 'js/jquery-1.11.2.min.js' %}"></script>

	<!-- Load Booststrap -->
	<script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>

	<!-- Load custom js for theme -->
	<script type="text/javascript" src="{% static 'js/app.js' %}"></script>
</body>
</html>