<nav class="menu">
    <a href="#" class="close"><i class="fa fa-close"></i></a>
    <h3>Menu</h3>
    <ul class="nav">
        <li><a href="{% url 'start_page:start_page_url' %}">На главную</a></li>
        {% if user.is_authenticated %}
            <li><a href="{% url 'users_cabinet:users_profile_url' %}" class="no-project">Личный кабинет</a></li>
        {% else %}
            <li><a href="{% url 'users:auth_page_url' %}">Авторизация</a></li>
        {% endif %}
        <li><a href="{% url 'start_page:start_page_url' %}#parser" class="no-project">Парсер</a></li>
        <li><a href="{% url 'start_page:start_page_url' %}#reviews" class="no-project">Генератор отзывов</a></li>
        <li><a href="https://github.com/alexindev/ke_services" class="no-project">Код проекта</a></li>
        {% if user.is_authenticated %}
            <li><a href="{% url 'start_page:logout_url' %}" class="no-project">Выйти</a></li>
        {% endif %}
    </ul>
    <ul class="social-icons">
        <li><a href="https://github.com/alexindev/ke_services"><i class="fa fa-github"></i></a></li>
        <li><a href=""><i class="fa fa-facebook"></i></a></li>
        <li><a href=""><i class="fa fa-twitter"></i></a></li>
        <li><a href=""><i class="fa fa-vk"></i></a></li>
    </ul>
</nav>