{% extends 'base.html' %}

{% block content %}
  <div class="row justify-content-center mt-5">
    <div class="col-md-4">
      <h2 class="mb-4">Регистрация</h2>
      <form method="POST" action="{% url 'reg_page_url' %}">
        {% csrf_token %}
        <div class="form-group">
          <label for="email"><i class="fas fa-envelope"></i> Email адрес</label>
          <input type="email" class="form-control" id="email" name="email" required>
        </div>
        <div class="form-group">
          <label for="password"><i class="fas fa-lock"></i> Пароль</label>
          <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <div class="form-group ">
          <label for="confirm_password"><i class="fas fa-lock"></i> Подтвердите пароль</label>
          <input type="password" class="form-control" id="confirm_password" name="confirm_password" required>
        </div>
        <div class="form-group text-center">
          <button type="submit" class="btn btn-primary "><i class="fas fa-sign-in-alt"></i> Зарегистрироваться</button>
        </div>
      </form>
    </div>
  </div>

{% endblock %}
